*{
    margin: 0;
    padding: 10px;
  }
   
  html,
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/* Regenboog */

body{
    animation: normalChange 30s infinite;
    -webkit-animation: normalChange 30s infinite; /* Safari en Chrome */
}

@keyframes normalChange{
    0% {background: violet;}
    40% {background: yellowgreen;}
    100% {background: violet;}
}

@-webkit-keyframes normalChange{ /* Safari en Chrome */
    0% {background: violet;}
    40% {background: yellowgreen;}
    00% {background: violet;}
}

@keyframes reverseChange{
    0% {background: violet; border: black solid 1px;}
    60% {background: yellowgreen;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}

@-webkit-keyframes reverseChange{ /* Safari en Chrome */
    0% {background: violet; border: black solid 1px;}
    60% {background: yellowgreen;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}