table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: "tahoma", serif;
    font-size: 75px;
    color: plum;
    background-color: black;
}

td:hover{
    cursor: pointer;
}

h1{
    text-align: center;
    text-shadow: -1px 0 white, 0 1px whitesmoke, 1px 0 white, 0 -1px whitesmoke;
    font-family: "Tahoma", serif;
}

.points{
    text-shadow: -1px 0 white, 0 1px whitesmoke, 1px 0 white, 0 -1px whitesmoke;
    font-family: "Tahoma", verdana;
}

button{
    width: 75px;
    height: 30px;
    color: plum;
    border: solid 1px grey;
    background-color: black;
}

.scoreContainer{
    margin-top: 25px;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.buttonWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
}

.points{
    text-align: center;
}

/* Regenboog */

body{
    animation: normalChange 30s infinite;
    -webkit-animation: normalChange 30s infinite; /* Safari en Chrome */
}

@keyframes normalChange{
    0% {background: violet;}
    40% {background: black;}
    100% {background: violet;}
}

@-webkit-keyframes normalChange{ /* Safari en Chrome */
    0% {background: violet;}
    40% {background: black;}
    00% {background: violet;}
}

@keyframes reverseChange{
    0% {background: violet; border: black solid 1px;}
    60% {background: black;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}

@-webkit-keyframes reverseChange{ /* Safari en Chrome */
    0% {background: violet; border: black solid 1px;}
    60% {background: black;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}