*{
    margin: 0;
  }
   
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    transition: font-size .2s ease;
  }

  @media screen and (max-width: 992px) {
    main {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 580px) {
    main {
      font-size: 13px;
    }
  }
  
  .grid-container {
    display: grid;
    font-size: 4em;
    align-items: stretch;
    grid-template-columns: 2em 2em 2em;
    grid-template-rows: 2em 2em 2em;
    background-color: black;
    padding: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .reset-btn {
    display: block;
    margin: 0 auto;
  }
/* Regenboog */

body{
  animation: normalChange 10s infinite;
}

@keyframes normalChange{
    0% {background: violet;}
    40% {background: yellowgreen;}
    100% {background: violet;}
}

@-webkit-keyframes normalChange{ /* Safari en Chrome */
    0% {background: violet;}
    40% {background: yellowgreen;}
    00% {background: violet;}
}

@keyframes reverseChange{
    0% {background: violet; border: black solid 1px;}
    60% {background: yellowgreen;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}

@-webkit-keyframes reverseChange{ /* Safari en Chrome */
    0% {background: violet; border: black solid 1px;}
    60% {background: yellowgreen;  border: white solid 1px;}
    100% {background: violet; border: black solid 1px;}
}