
.homescreen{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.dark-mode {
  background-color: black;
  color: white;

}

h1,p{
  color: black;
}


